<section class="d-flex flex-row">
    <img src="/assets/hero-image.svg" width="20%" class="m-5">
    <div class="mt-5">  
        <h1>Quizzer App</h1>
        <p class="mt-4 px-3">Quizzer: A fullstack app for practicing technical questions for interviews. Comes pre-loaded with 130+ common JavaScript interview questions and answers. Practice and track your progress!</p>  
        <% if (user) { %>  
        <a href="/banki" class="btn btn-warning mx-3 my-1">Practice Banki</a>
        <% } else {%>
        <a href="/signup" class="btn btn-dark mx-3 my-1">Sign up for an account</a>
        <% }%>
    </div>

</section>
